.DS_Store
.python-version
Icon*
/data/interim/mbti_interim
data/mbti_count_vectorizer.csv
data/mbti_nlp.csv
data/mbti_tfidf.csv
.ipynb_checkpoints
erased*
notebooks/EDA/EDA_ideas.txt
notebooks/3. Feature Engineering and Pre-processing/GoogleNews-vectors-negative300.bin.gz
reports/1. Interim Reports/EDA Interim Report.pptx
*.gdoc
./data/mbti_interim.csv
./notebooks/Data Wrangling/pandas_profiling/.ipynb_checkpoints/mbti_report_interim-checkpoint.html
find . -size +50MB
data/mbti_interim*
