.DS_Store
.python-version
Icon*
/data/interim/mbti_interim
.ipynb_checkpoints
erased*
notebooks/EDA/EDA_ideas.txt
reports/1. Interim Reports/EDA Interim Report.pptx
reports/1. Interim Reports/EDA selection - Old.gdoc
